@charset "UTF-8";

@font-face {
  font-family: "circe";
  font-display: swap;
  src: url("../fonts/circe.woff") format("woff"), url("../fonts/circe.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plumb";
  font-display: swap;
  src: url("../fonts/Plumb Medium.woff") format("woff"), url("../fonts/Plumb Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Plumb";
  font-display: swap;
  src: url("../fonts/plumb-bold.woff") format("woff"), url("../fonts/plumb-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Plumb";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Plumb";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  line-height: 150%;
  background-color: #fff;
  font-family: "Plumb";
  font-weight: 500;
  color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1125px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
  line-height: 1;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  font-size: 20px;
  height: 50px;
}

.input._error {
  border: 2px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  z-index: 11;
}

.header__container {
  max-width: 81%;
}

.header__container:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .mobile__block {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu__list .menu__item:last-child {
  margin-right: 0;
}

.menu__item {
  display: block;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-right: 47px;
}

.menu__item a {
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 16px;
  line-height: 135%;
}

.menu__item a:hover {
  opacity: 0.6;
}

.menu__item__icon {
  padding: 35px 27.6px;
}

.menu__item__icon:nth-last-child(2) a,
.menu__item__icon:nth-last-child(2) img {
  width: 23px;
}

.menu__item__icon a,
.menu__item__icon img {
  width: 24px;
  height: 24px;
}

.right-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-menu .menu__item {
  margin-right: 0;
}

.change-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.change-lang::before {
  display: block;
  content: "";
  background: url("../img/icons/Globe.svg") center no-repeat;
  width: 20px;
  height: 18px;
  margin-right: 11px;
}

.change-lang:hover {
  opacity: 0.6;
}

/*<===ВЫПОДАЮШЕЕ МЕНЮ===>*/

.dropbtn {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.dropbtn::after {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-left: 15px;
  width: 20px;
  height: 20px;
  background: #4fbfa5;
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  background: url("../img/icons/header-arrow.svg") center no-repeat, #4fbfa5;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: block;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: -90px;
  visibility: hidden;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  opacity: 1;
  top: 90px;
  visibility: visible;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/*</===ВЫПОДАЮШЕЕ МЕНЮ===>*/

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  padding: 60px 0 70px 0;
  background: #30bcc9;
}

.footer a {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer a:hover {
  opacity: 0.6;
}

.footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.footer__container {
  display: block;
}

.footer .footer-col {
  width: 68.2%;
  margin-left: 16px;
}

.footer .footer-first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .col-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 42px;
}

.footer .app {
  margin-bottom: 16px;
  display: block;
}

.footer .app:last-child {
  margin-bottom: 0;
}

.footer .col-item {
  width: 197px;
}

.footer .col-item:nth-child(3),
.footer .col-item:nth-child(6) {
  margin-right: 0;
}

.footer .col-item .footer-btn {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: block;
  color: #e0e0e0;
}

.footer .col-item .footer-btn:hover {
  color: #ffc41e;
  text-decoration: underline;
}

.footer .list-btn {
  font-family: "Circe", sans-serif;
  color: #e0e0e0;
  font-size: 14px;
}

.footer .col-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.footer .footer-contact {
  width: 22.6%;
}

.footer .contact-block {
  margin-bottom: 50px;
}

.footer .contact-block .col-text {
  margin-bottom: 30px;
}

.footer .footer-icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .icon__item {
  display: block;
  margin-right: 30px;
}

.footer .icon__item:nth-child(2) {
  margin-right: 0;
}

.footer .icon__item:nth-child(3) {
  margin-left: 35px;
  margin-right: 35px;
}

.footer .subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footer .subscription .subscribe-input {
  font-size: 12px;
  line-height: 135%;
  padding: 11px 20px;
  color: #9c9c9c;
  width: 85%;
}

/*<===СТИЛИЗАЦИЯ ПОЛНОЭКРАННОГО БЛОКА===>*/

._no-webp .fullScreen{
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/FullScreen-block/bgc.png") no-repeat; }

._no-webp .fullScreen{
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/FullScreen-block/bgc.png") no-repeat; }

._no-webp .fullScreen{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/FullScreen-block/bgc.png") no-repeat; }

.fullScreen {
  z-index: 10;
  margin-top: -90px;
  padding-top: 274px;
  height: 85.4vh;
  width: 100%;
  margin-bottom: 0px;
}

.fullScreen__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fullScreen .fullScreen__menu {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.fullScreen .fullScreen__menu .menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fullScreen .fullScreen__menu .menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 62px;
}

.fullScreen .fullScreen__menu .menu .btn-block {
  width: 175px;
  margin: 0 auto;
}

.fullScreen .fullScreen__menu .menu__item {
  font-weight: 500;
  font-size: 18px;
  padding: 31px 33px;
  color: #fff;
  border: none;
}

.fullScreen .fullScreen__menu .fullscreen-burger {
  display: none;
  width: 100px;
  margin: 0 auto;
  height: 50px;
}

.fullScreen .fullScreen-menu-bottom .menu .bottom__item {
  padding: 30px 0;
  text-transform: none;
  font-weight: 500;
  font-size: 21px;
}

.fullScreen .text {
  margin-bottom: 17px;
}

.fullScreen-slider__container {
  height: 100%;
}

.fullScreen-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fullScreen-col-left {
  width: 37%;
  margin-left: 15px;
}

.fullScreen-col-right {
  width: 48%;
  margin-top: 120px;
}

.fullScreen-col-right .right__containter {
  display: block;
}

.fullScreen-col-right .container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullScreen-col-right .row-1 {
  margin-bottom: 30px;
}

.fullScreen-col-right .row__item {
  width: 48%;
  margin-right: 30px;
  padding: 29px 50px 23px 40px;
}

.fullScreen-col-right .row__item-1 {
  background: #2378fc;
}

.fullScreen-col-right .row__item-2 {
  background: #30bcc9;
  margin-right: 0;
}

.fullScreen-col-right .row__item-3 {
  background: #ffc41e;
}

.fullScreen-col-right .row__item-4 {
  margin-right: 0;
  background: #f6404f;
}

/*</===СТИЛИЗАЦИЯ ПОЛНОЭКРАННОГО БЛОКА===>*/

/*<======>*/

.one-block,
.two-block {
  margin-bottom: 80px;
}

.one-block .col-1-3,
.two-block .col-1-3 {
  background: #00868a;
  padding: 35px 0 0 40px;
}

.one-block .col-1-3 .col-image,
.two-block .col-1-3 .col-image {
  margin-left: -40px;
  width: calc(100% + 40px);
  height: 240px;
}

.one-block .col-container,
.two-block .col-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.one-block .col-2-3,
.two-block .col-2-3 {
  padding: 35px 0 0 0;
  width: 50%;
}

.one-block .col-container .col-1-2:first-child,
.two-block .col-container .col-1-2:first-child {
  width: 214px;
}

.one-block .col-container .col-1-2:first-child .numbers-text:nth-child(1),
.two-block .col-container .col-1-2:first-child .numbers-text:nth-child(1) {
  margin-top: 30px;
}

.one-block .col-container .col-1-2:first-child .numbers-text:nth-child(2),
.two-block .col-container .col-1-2:first-child .numbers-text:nth-child(2) {
  margin-bottom: 0;
}

.one-block .col-container .col-1-2:first-child .numbers-text:nth-child(3),
.two-block .col-container .col-1-2:first-child .numbers-text:nth-child(3) {
  font-weight: 500;
  font-size: 28px;
  opacity: 1;
  width: 460px;
  position: relative;
  line-height: 150%;
  z-index: 10;
  margin: 20px 0;
}

.one-block .col-container .col-1-2:first-child .numbers-text:nth-child(3)::before,
.two-block .col-container .col-1-2:first-child .numbers-text:nth-child(3)::before {
  content: "20";
  font-weight: 500;
  font-size: 96px;
  color: #00868a;
  margin-right: 30px;
  line-height: 150%;
}

.one-block .col-container .col-1-2:last-child .col-image,
.two-block .col-container .col-1-2:last-child .col-image {
  z-index: 9;
}

.one-block .subtittle,
.two-block .subtittle {
  margin-bottom: 25px;
}

.one-block .arrow-btn,
.two-block .arrow-btn {
  margin-bottom: 45px;
}

.one-block .numbers-text,
.two-block .numbers-text {
  font-weight: 500;
  font-size: 14px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 214px;
  opacity: 0.3;
  margin-bottom: 15px;
}

.one-block .numbers-text::before,
.two-block .numbers-text::before {
  content: "78";
  font-weight: 500;
  font-size: 48px;
  margin-right: 20px;
  line-height: 150%;
}

.side-menu {
  background-color: #2378fc;
  padding: 75px 0;
}

.side-menu .section-tittle {
  color: #fff;
}

.side-menu .side-menu__container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.side-menu .col__item {
  width: 200px;
}

.events {
  background: #ffc41e;
  padding: 75px 0 39px 0;
}

.events .btn {
  color: #000;
}

.sect-first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.event-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list__item {
  width: 31%;
  margin-bottom: 40px;
}

.list__item .img-box img {
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.list__item .event-date,
.list__item .event-tittle,
.list__item .event-subtittle {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.list__item:hover .img-box img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.list__item:hover .event-date,
.list__item:hover .event-tittle,
.list__item:hover .event-subtittle {
  opacity: 0.6;
}

.img-box {
  display: block;
  overflow: hidden;
}

.img-box img {
  -webkit-transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.news {
  background: #faf3e3;
  padding: 75px 0 85px 0;
}

.news .col-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news__container .btn {
  color: #000;
}

.news__container .col-1-3 {
  width: 39.6%;
  margin-left: 16px;
}

.news__container .col-1-3 .img-box {
  margin-bottom: 59px;
  display: block;
  cursor: pointer;
  width: 100%;
}

.news__container .col-1-3 .img-box .news-left-img:last-child {
  margin-bottom: 0;
}

.news__container .col-1-3 .img-box:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.news__item .img-box {
  width: 257px;
  margin-right: 30px;
}

.news__item:hover .text-block {
  opacity: 0.6;
}

.news__item:hover .img-box img {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.text-block {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
}

/*</======>*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  padding: 0px 20px 0px 0px;
}

.page__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

.price__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__inputs input {
  margin: 0px 10px 0px 0px;
}

/*<===ТИПОГРАФИЯ===>*/

.fullscreen-tittle {
  font-weight: bold;
  font-size: 64px;
  line-height: 160%;
  margin-bottom: 7px;
}

a,
.text,
.event-subtittle,
.news-date {
  font-family: "Circe", sans-serif;
}

.text {
  font-size: 24px;
  line-height: 140%;
}

.event-date {
  font-size: 14px;
  line-height: 135%;
  color: #2e373b;
  margin-top: 20px;
}

.event-tittle {
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #f6404f;
  margin: 10px 0;
}

.event-subtittle {
  font-size: 16px;
  line-height: 135%;
  color: #2e373b;
}

.news-date {
  font-size: 16px;
  line-height: 135%;
  color: #f6404f;
  margin-bottom: 14px;
}

.news-tittle {
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #2e373b;
}

.full-col-heading {
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 3px;
  letter-spacing: -0.01em;
}

.subtittle {
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
}

a {
  color: #fff;
}

.section-tittle {
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: -0.01em;
  margin-bottom: 30px;
  color: #2e373b;
}

.contact-subtittle {
  font-family: "Circe", sans-serif;
  font-size: 14px;
  line-height: 135%;
  color: #e0e0e0;
  margin-bottom: 25px;
}

.contact-tittle {
  font-weight: bold;
  font-size: 21px;
  line-height: 150%;
  margin-bottom: 15px;
}

.menu__body .footer-small {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}

/*</===ТИПОГРАФИЯ===>*/

/*<======>*/

.col-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-1-3 {
  width: 41%;
}

.col-1-3 .btn {
  display: inline-block;
  margin-bottom: 30px;
}

.col-2-3 {
  width: 48%;
}

/*</======>*/

/*<===КНОПКИ===>*/

.btn {
  font-size: 16px;
  line-height: 135%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition: background 0.4s ease 0.4s;
  -o-transition: background 0.4s ease 0.4s;
  transition: background 0.4s ease 0.4s;
}

.btn::after {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  margin-left: 10px;
  background: url("../img/icons/Arrow-white.svg") center no-repeat;
}

.btn:hover::after {
  background-position-x: 100px;
}

.tittle-btn {
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: right;
  letter-spacing: -0.01em;
  color: #2e373b;
}

.tittle-btn::after {
  background: url("../img/icons/Arrow-black.svg") center no-repeat;
}

.tittle-btn:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.side-btn {
  font-size: 16px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  line-height: 135%;
  margin-bottom: 15px;
  display: block;
}

.side-btn:hover {
  color: #ffc41e;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.sub-btn {
  width: 40px;
  height: 40px;
  background: #f6404f;
}

/*</===КНОПКИ===>*/

/*<===ТАБЫ===>*/

.new-tab {
  display: none;
}

.new-tab._active {
  display: block;
}

/*</===ТАБЫ===>*/

/*<===СЛАЙДЕР===>*/

/*<===КНОПКИ СЛАЙДЕРА===>*/

/*</===КНОПКИ СЛАЙДЕРА===>*/

/*</===СЛАЙДЕР===>*/

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1137px) {
  ._container {
    max-width: 970px;
  }

  .header__container {
    max-width: 100%;
  }

  .header__container .menu__icon {
    padding: 31px 25px;
  }

  .header__container .menu__item {
    padding: 31px 25px;
  }

  .menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .menu .mobile__block {
    display: block;
  }

  .dropdown:hover .dropdown-content {
    top: 170px;
  }

  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    height: 26px;
    cursor: pointer;
    position: relative;
    width: 87px;
    border-left: none;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mobile__block {
    height: 100%;
  }

  .menu__btn span,
  .menu__btn span::before,
  .menu__btn span::after {
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
  }

  .header__container .header__menu.menu._open .menu__list {
    right: 0;
  }

  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    right: -400px;
    background-color: #fff;
    z-index: 99999999999999;
    top: 90px;
  }

  .menu__list .menu__item {
    border: none;
  }

  .menu__btn span::before {
    content: "";
    top: -8px;
    width: 100%;
  }

  .menu__btn span::after {
    content: "";
    top: 8px;
    width: 100%;
  }

  .header__menu.menu._open {
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .header__menu.menu._open .menu__body {
    background-color: #fff;
  }

  .header__menu.menu._open .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .fullScreen .fullScreen__menu {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .fullScreen .fullScreen__menu .menu {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .fullScreen .fullScreen__menu .menu-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 0;
  }

  .fullScreen .fullScreen__menu .fullscreen-burger {
    display: block;
  }
}

@media (max-width: 1100px) {
  .col-container {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (max-width: 1050px) {
  .footer .footer-first-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer .footer-first-line .col-container {
    margin-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer .footer-first-line .col-item:nth-child(3),
  .footer .footer-first-line .col-item:nth-child(6) {
    margin-right: 0;
  }

  .footer .footer-first-line .footer-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer .footer-first-line .footer-contact .contact-block:first-child {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .one-block .col-container,
  .two-block .col-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .one-block .col-2-3,
  .two-block .col-2-3 {
    width: 85%;
    margin: 0 auto;
  }

  .one-block .col-2-3 .col-container,
  .two-block .col-2-3 .col-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .col-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .col-1-3 {
    width: 100%;
  }

  .col-2-3 {
    width: 100%;
  }

  .col-2-3 .col-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 1050px) and (max-width: 479.98px) {
  .footer .footer-first-line .footer-contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer .footer-first-line .footer-contact .contact-block {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }

  .menu__list .menu__item:last-child {
    border: none;
  }

  .menu__item {
    padding: 31px 20px;
  }

  .footer .col-item {
    margin-right: 50px;
    margin-bottom: 30px;
  }

  .footer .col-item:nth-child(3),
  .footer .col-item:nth-child(6) {
    margin-right: 50px;
  }

  .fullScreen {
    height: auto;
  }

  .fullScreen-col-left {
    width: 48%;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .fullScreen-col-left {
    width: 100%;
  }

  .section-tittle {
    font-size: 46px;
  }
}

@media (max-width: 650px) {
  .fullScreen {
    height: auto;
  }

  .fullScreen .fullScreen-col-left {
    width: 100%;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fullScreen .fullScreen-col-right {
    margin-bottom: 40px;
    width: 100%;
  }

  .fullScreen .fullScreen-slider .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .fullScreen .fullScreen__menu .menu {
    width: 105%;
    margin: -10px;
  }

  .fullScreen .fullScreen-menu-bottom .menu .bottom__item {
    font-size: 13px;
    padding: 24px 0;
  }

  .fullscreen-tittle,
  .text {
    text-align: center;
  }
}

@media (max-width: 479.98px) {
  .footer .footer-first-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer .footer-first-line .col-container {
    margin-right: 0;
  }

  .footer .footer-first-line .col-container .col-item {
    margin-right: 0;
    width: auto;
  }

  .footer .footer-first-line .col-container .col-item .col-text {
    font-size: 37px;
    text-align: center;
  }

  .footer .footer-first-line .col-container .col-item .footer-btn {
    font-size: 20px;
    text-align: center;
  }

  .footer .contact-block {
    text-align: center;
  }

  .fullScreen .fullScreen__menu .menu-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .fullScreen .fullScreen__menu .menu__item {
    font-size: 20px;
  }

  .fullScreen .fullScreen-menu-bottom .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fullScreen .fullScreen-menu-bottom .menu .btn.bottom__item {
    font-weight: 500;
    font-size: 21px;
    width: 100%;
  }

  .fullScreen-slider {
    margin-bottom: 80px;
  }

  .fullScreen-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .fullScreen-col-right {
    width: 100%;
    margin-bottom: 40px;
  }

  .one-block .col-2-3 .col-container,
  .two-block .col-2-3 .col-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .one-block .col-container .col-1-2:first-child .numbers-text:nth-child(3),
  .two-block .col-container .col-1-2:first-child .numbers-text:nth-child(3) {
    font-size: 24px;
    width: auto;
    text-align: center;
  }

  .one-block .col-container .col-1-2:first-child .numbers-text:nth-child(3)::before,
  .two-block .col-container .col-1-2:first-child .numbers-text:nth-child(3)::before {
    font-size: 75px;
    margin-right: 20px;
  }

  .one-block .col-container .col-1-2:last-child,
  .two-block .col-container .col-1-2:last-child {
    display: none;
  }
}

._webp .fullScreen{ background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/FullScreen-block/bgc.webp) no-repeat; }

._webp .fullScreen{ background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/FullScreen-block/bgc.webp) no-repeat; }

._webp .fullScreen{ background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/FullScreen-block/bgc.webp) no-repeat; }